.row-bottom-padded-md {
    padding-bottom: 2em;
}
.fh5co-section-gray {
    background: rgb(248, 248, 248);
}
.fh5co-testimonial, .fh5co-team {
    position: relative;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 30px;
}
#main-logo {
    margin-left: -150px;
}
.service {
    min-height:288px;
}
@media (max-width: 767px) {
    #main-logo {
        margin-left: 0px;
        font-size: 26px;
    }
}
#footer p {
    color: white;
    font-size: 16px!important;
}
.shareBottom{
    margin-bottom:24px;
}
#line::after {
    display: none;
}
@media screen and (min-width: 319px){
    .fh5co-cover, .fh5co-hero {
        height: 476px;
    }
}
@media screen and (min-width: 359px){
    .fh5co-cover, .fh5co-hero {
        height: 543px;
    }
}
@media screen and (min-width: 374px){
    .fh5co-cover, .fh5co-hero {
        height: 572px;
    }
}
@media screen and (min-width: 411px){
    .fh5co-cover ,.fh5co-hero {
        height: 635px;
    }
}
@media screen and (min-width: 413px){
    .fh5co-cover ,.fh5co-hero {
        height: 645px;
    }
}
@media screen and (min-width: 768px){
    .fh5co-cover ,.fh5co-hero {
        height: 800px;
    }
}
.fh5co-logo {
    position: relative;
    z-index: 2;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 35px;
    font-weight: 700;
    float: left;
}
@media screen and (max-width: 768px){
    .fh5co-logo {
        width: 100%;
        float: none;
        text-align: center;
    }
}
.fh5co-header-section {
    padding: 0;
    position: relative;
    left: 0;
    width: 100%;
    z-index: 1022;
    background: #fff;
}
